@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");

:root {
  --black-text-color: #17252a;
  --background-color: #2b7a78;
  --primary-color: #3aafa9;
  --border-color: #def2f1;
  --body-background-color: #feffff;
}
html {
  font-size: 62.5%;
  scroll-behavior:smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
/* UNIVERSAL STYLING */
.divider{
  height: 10vh;
}
body {
  font-family: "Merienda", cursive;
  background-color: var(--body-background-color);
  overflow-x: hidden;
}
.profile {
  color: var(--black-text);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile .menu {
  position: fixed;
  min-width: 100vw;
  height: 0;
  top: 2rem;
}
.profile .menu .navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.profile .menu .navigation .brand {
  font-size: 3rem;
  color: var(--primary-color);
}
.profile .menu .navigation .nav ul {
  display: flex;
}
.profile .menu .navigation .nav ul li {
  margin: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.profile .menu .navigation .nav ul li a{
  text-decoration: none;
  color: #17252a;
}
.profile .menu .navigation .nav ul li a.nav-link.active {
  color: var(--primary-color);
}

.profile .menu .navigation .nav ul li a:hover {
  color: var(--primary-color);
}
/* HAMBURGER */
.menu .navigation .icon-nav {
  display: none;
}

.menu .navigation .icon-nav i {
  font-size: 2rem;
  color: var(--primary-color);
}
.profile .menu .hamburger-nav {
  text-align: center;
  transform: translateY(-100vw);
  transition: all 0.5s ease-in;
}
.profile .menu .hamburger-nav.show {
  transform: translateY(0);
  transition: all 0.5s ease;
}
.profile .menu .hamburger-nav ul li{
  font-size: 1.5rem;
  padding: 1.5rem;
  background-color: var(--primary-color);
  color: var(--body-background-color);
  cursor: pointer;
}
.profile .menu .hamburger-nav ul li a{
  text-decoration: none;
  color: var(--body-background-color);
}
.profile .menu .hamburger-nav ul li a:hover {
  color: var(--black-text-color);
}

/* PERSONAL INFO */
.profile .personal {
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  flex-wrap: wrap;
}
.profile .personal div{
    margin: 2rem;
}
.personal .social-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.personal .social-links a {
  padding-bottom: 1rem;
  text-decoration: none;
  color: var(--background-color);
  font-size: 3rem;
}
.personal .introduction {
  width: 50rem;
  padding: 1rem;
}
.personal .introduction h2 {
  font-size: 3rem;
  font-weight: 800;
}
.personal .introduction span {
  font-style: italic;
  font-size: 2rem;
}
.personal .introduction p {
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.personal .introduction a {
  text-decoration: none;
  padding: 1rem 1.5rem;
  border: 0.1rem solid var(--border-color);
  border-radius: 0.5rem;
  font-size: 2rem;
  background-color: #fff;
  color: var(--black-text-color);
}

.personal .introduction a:hover {
  background-color: var(--background-color);
  color: var(--border-color);
  transition: all 0.3s ease-in-out;
}

.personal .profile-pic {
  min-width: 30rem;
  min-height: 30rem;
  border-radius: 50%;
  background: url("images/profile2.jpg") no-repeat center center/cover;
}


/* ABOUT SECTION */
.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-me .about-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    padding: 1rem;
}
.about-me .about-header h2{
    font-size: 3rem;
}
.about-me .about-header span{
    font-style: italic;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
.about-me .about-header p{
    font-size: 2rem;
    max-width: 50%;
}
.about-me .experience{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.about-me .experience div{
    margin: 1rem;
}
.about-me .experience div h2{
    font-size: 3rem;
    color: var(--primary-color);
}
.about-me .experience div span {
    font-style: italic;
    font-weight: 100;
    font-size: 1.5rem;
}
.about-me .cv{
    margin-bottom: 10rem;
}
.about-me .cv a{
    text-decoration: none;
  padding: 1rem 1.5rem;
  border: 0.1rem solid var(--border-color);
  border-radius: 0.5rem;
  font-size: 1.5rem;
  background-color: #fff;
  color: var(--black-text-color);
}
.about-me .cv a:hover{
    background-color: var(--background-color);
    color: var(--border-color);
    transition: all 0.3s ease-in-out;
}
/* SKILLS SECTION */
.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}
.skills .skill-header{
    margin-bottom: 2rem;
}
.skills .skill-header h2{
    font-size: 3rem;
}
.skills .skill-header span{
    font-style: italic;
    font-weight: 100;
    font-size: 1.5rem;
}
.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skills .skills-content .skill{
    margin: 1.5rem;
}
.skills .skills-content .accordian{
  width: 30rem;
  padding: 1.5rem 1rem; 
  border: 0.01rem solid var(--primary-color);
  background-color: #fff;
  outline: none;
  cursor: pointer;
  text-align: left;
  font-family: inherit;
  font-size: 2rem;
  border-radius: 0.5rem;
}
.skills .skills-content .accordian::after{
  content: '\25be';
  float: right;
  transform: scale(1.5);
}
.skills .skills-content .accordian:hover{
  background-color: var(--background-color);
  color: var(--border-color);
  transition: all 0.3s ease-in-out;
}
.skills .skills-content .accordian.active{
  background-color: var(--background-color);
  color: #fff;
}

.skills .skills-content .accordian.active::after{
  content: '\25b4';
}
.skills .skills-content .accordian-content{
 display: none;
}
.skills .skills-content .accordian.active + .accordian-content{
  display: block;
}
.skills .skills-content .skill .accordian-content li{
  font-size: 1.5rem;
  padding: 1rem;
  border-bottom: solid 0.1rem var(--primary-color);
}



/* PROJECTS SECTION */
.projects{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.projects .project-header{
  margin-bottom: 3rem;
}
.projects .project-header h2{
  font-size: 3rem;
}
.projects .project-header span{
  font-size: 1.5rem;
  font-style: italic;
}
.projects .stack{
  margin: 2rem;
}
.projects .stack h2{
  margin-bottom: 2rem;
  font-size: 2rem;
  border: none;
  border-bottom: solid 0.1rem var(--primary-color);
}

.projects .stack .cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects .stack .cards .card{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.projects .stack .cards .card .card-image{
  width: 40%;
  height: 30rem;
}
.projects .stack .cards .card .card-image.overload{
  background: url("images/overload.PNG") no-repeat center center/cover;
}
.projects .stack .cards .card .card-image.almuhannad{
  background: url("images/almuhannad.PNG") no-repeat center center/cover;
}
.projects .stack .cards .card .card-content{
  margin: 1rem;
  align-self: center;
  width: 40%;
}
.projects .stack .cards .card .card-content h3{
  font-size: 3rem;
}
.projects .stack .cards .card .card-content p{
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.projects .stack .cards .card .card-content a{
  text-decoration: none;
  padding: 1rem 1.5rem;
  border: 0.1rem solid var(--border-color);
  border-radius: 0.5rem;
  font-size: 1.5rem;
  background-color: #fff;
  color: var(--black-text-color);
}
.projects .stack .cards .card .card-content a:hover{
  background-color: var(--background-color);
  color: var(--border-color);
  transition: all 0.3s ease-in-out;
}


/* CONTACT ME */
.contact-me{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}
.contact-me .contact-header{
  margin-bottom: 2rem;
}
.contact-me .contact-header h2{
  font-size: 3rem;
}
.contact-me .contact-header span{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 100;
  font-style: italic;
}
.contact-me .contact-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contact-me .contact-content .contact{
  margin-right: 3rem;
}
.contact-me .contact-content .contact div{
  margin-bottom: 1.5rem;
}
.contact-me .contact-content .contact i{
  font-size: 2rem;
  padding: 0.5rem;
  color: var(--primary-color);
}
.contact-me .contact-content .contact p{
  font-size: 2rem;
}
.contact-me .contact-content .contact span{
  font-style: italic;
  font-size: 1.2rem;
}
.contact-me .contact-content .message{
  padding: 2rem;
}
.contact-me .contact-content .message input{
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  border: solid 0.1rem var(--primary-color);
  color: var(--background-color);
  outline: none;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  font-family: inherit;
}
.contact-me .contact-content .message input::placeholder{
  color: var(--background-color);
  font-family:"Merienda", cursive ;
}
.contact-me .contact-content .message textarea{
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  border: solid 0.1rem var(--primary-color);
  color: #3aafa9;
  outline: none;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  font-family: inherit;
}
.contact-me .contact-content .message textarea::placeholder{
  color: var(--background-color);
  font-family:"Merienda", cursive ;
}
.contact-me .contact-content .message button{
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  background-color: var(--background-color);
  color: #fff;
  outline: none;
  border: 0.1rem solid var(--background-color);
  cursor: pointer;
  font-family: inherit;
  transition: all 0.5s ease-in-out;
}
.contact-me .contact-content .message button:hover{
  border: 0.1rem solid var(--border-color);
  background-color: #fff;
  color: var(--black-text-color);
  transition: all 0.5s ease-in-out;
}
.contact-me .contact-content .message button i + i {
  display: none;
}

/* FOOTER */
.footer{
  background-color: var(--background-color);
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem;
}
.footer .footer-content{
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}
.footer .footer-content div{
  margin: 1rem;
}
.footer .footer-content .footer-header h2{
  font-size: 3rem;
}
.footer .footer-content .footer-header span{
  font-size: 1.5rem;
  font-style: italic;
}
.footer .footer-content .footer-links ul li{
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.footer .footer-content .footer-links ul li a{
  text-decoration: none;
  color: #fff;
  
}
.footer .footer-content .footer-social a{
  font-size: 2rem;
  margin: 1rem;
  text-decoration: none;
  color: #fff;
}
.footer span{
  align-self: center;
}

/* TOAST SECTION */
.toast{
  position: fixed;
  right: 0;
  bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--body-background-color);
  padding: 1rem;
  transform: translateX(40rem);
  transition: transform 0.5s ease-in-out;
}
.toast.success{
  border: solid 0.1rem var(--primary-color);
  border-left: solid 0.5rem var(--primary-color);
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}
.toast.error{
  border: solid 0.1rem #FF9494;
  border-left: solid 0.5rem #FF9494;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}
.toast .toast-header h4{
  font-size: 2rem;
}
.toast .toast-header{
  margin-right: 1rem;
}
.toast .toast-header p{
  font-size: 1rem;
}
.toast .toast-icon i{
  font-size: 3rem;
  display: none
}
.toast.success .toast-icon i{
  color: var(--primary-color);
}
.toast.error .toast-icon i{
  color: #FF9494;
}


/* RESPONSIVE DESIGN */
@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
  .profile .menu .navigation .nav {
    display: none;
  }
  .menu .navigation .icon-nav {
    display: block;
  }
  .menu .navigation .icon-nav span:nth-child(2) {
    display: none;
  }
  .profile .personal {
    margin-top: 5rem;
  }
  .profile .personal div {
    margin: 2rem;
    padding: 2rem;
  }
  .personal .social-links {
    flex-direction: row;
  }
  .personal .social-links a {
    margin: 1rem;
  }
  .personal .introduction{
    width: 100%;
  }
  .personal .introduction p{
      font-size: 1.5rem;
  }
  /* //// PROJECT TEMPLATE */
  .projects .stack .cards .card{
    flex-wrap: wrap;
  }
  .projects .stack .cards .card .card-content{
    width: 100%;
  }
  .projects .stack .cards .card .card-image{
    width: 100%;
  }
}
